*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #FDFDFE;
    overflow-x: hidden;
    font-family: Assistant-Regular, serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.spread {
    width: 100%;
}

.header {
    padding-top: 28px;
    position: relative;
    z-index: 1;
    height: 639px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-background-image {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
    max-width: 100vw;
    height: 639px;
    background-image: url("./images/header-img.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-oval-1 {
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 0;
}
.background-oval-2 {
    position: absolute;
    top: 60%;
    right: 0;
    z-index: 0;
}
.header-gradient {
    position: absolute;
    top: 0;
    height: 639px;
    width: 100vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    width: 1400px;
}
.header-left, .header-menu-right-wrapper {
    display: flex;
    align-items: center;
}
.custom-pink-button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F15B62;
    border-radius: 80px;
    font-family: Assistant-Bold, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    direction: rtl;
}
.header-menu-button {
    padding: 12px 43px;
    width: 140px;
    height: 48px;
    margin-right: 27px;
}
.header-left-language {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    margin-right: 20px;
}
.header-menu-left-language-text {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}
.header-left-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-left-icons-search {
    margin-right: 14px;
    padding-left: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}
.header-left-icons-notification {
    margin-right: 24px;
    padding-right: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.header-menu-left-icon-text {
    color: #FFFFFF;
    font-size: 12px;
    font-family: Assistant-Bold, serif;
    font-weight: 700;
}
.header-left-phone, .header-menu-left-text {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
}
.header-left-phone {
    margin-right: 14px;
}
.header-menu-right-wrapper {
    gap: 72px;
}
.header-menu-right-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;
    width: 117px;
    height: 48px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 80px;
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    font-family: Assistant-SemiBold, serif;
    cursor: pointer;
}
.header-title-container {
    width: 100%;
    margin-top: 59px;
    display: flex;
    justify-content: flex-end;
}
.header-title-wrapper {
    margin-right: 272px;
    max-width: 520px;
}
.header-title-top-text {
    color: #FBFBFC;
    font-weight: 400;
    font-size: 24px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.85);
    margin-bottom: 0;
    margin-top: 0;
    direction: rtl;
}
.header-title-main-text {
    font-family: Assistant-Medium, serif;
    font-weight: 500;
    font-size: 64px;
    color: #FFFFFF;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.85);
    margin-bottom: 0;
    margin-top: 0;
    direction: rtl;
}
.header-title-bottom-text-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 13px;
    cursor: pointer;
}
.header-title-bottom-text {
    font-family: Assistant-Bold, serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.85);
    margin-bottom: 0;
    margin-top: 0;
    direction: rtl;
}
.header-input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -60px;
    position: relative;
    z-index: 2;
    margin-bottom: 70px;
}
.header-input-wrapper {
    position: relative;
    max-width: 600px;
    width: 100%;
    height: 80px;
}
.header-input {
    max-width: 600px;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 44px rgba(0, 0, 0, 0.09);
    border-radius: 102px;
    border: none;
    direction: rtl;
    padding: 25px 24px 24px 180px;
    font-weight: 400;
    font-size: 24px;
    outline: none;
}
.header-input::placeholder {
    color: #000000;
    opacity: 0.5;
}
.header-input-button {
    position: absolute;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 48px;
    background: #596172;
    box-shadow: 0 4px 14px rgba(15, 15, 15, 0.4);
    border-radius: 51px;
    left: 24px;
    top: 16px;
    color: #FFFFFF;
    font-family: Assistant-Bold, serif;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.header-item {
    display: flex;
    align-items: center;
    justify-content: center;
}


.header-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin: 0 14px;
}

.icon-line {
    height: 50px;
    width: 1px;
    background: rgba(255, 255, 255, 0.4);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 117px;
    height: 48px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 80px;
    margin-right: 70px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-align: center;
}

.section-spacing {
    margin-top: 124px;
}

.wrapp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1220px;
}

.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-name {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #010101;
    text-align: center;
    margin-bottom: 42px;
}

.stats-bubbles-container {
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.stats-bubble {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.stats-bubble-number {
    font-family: Assistant-Light, serif;
    font-weight: 300;
    font-size: 68px;
}
.stats-bubble-title {
    font-family: Assistant-Light, serif;
    font-weight: 300;
    font-size: 33px;
    direction: rtl;
}
.stats-bubble-subtitle {
    font-family: Assistant-Light, serif;
    font-weight: 300;
    font-size: 21px;
}
.stats-bubble-number.white {
    color: #FFFFFF;
}
.stats-bubble-number.blue {
    color: #004990;
}
.stats-bubble-title.white {
    color: #FFFFFF;
}
.stats-bubble-title.black {
    color: #000000;
}
.stats-bubble-title.blue {
    color: #004990;
}
.stats-bubble-subtitle.white {
    color: #FFFFFF;
}
.stats-bubble-subtitle.black {
    color: #000000;
}
.stats-bubble-subtitle.blue {
    color: #004990;
}
.stats-bubble.one {
    background: rgba(26, 15, 145, 0.05);
    height: 207px;
    width: 207px;
}

.stats-bubbles:first-child {
    display: flex;
    align-items: center;
    margin-left: -100px;
}

.stats-bubbles:nth-child(2), .stats-bubbles:nth-child(3), .stats-bubbles:nth-child(5), .stats-bubbles:nth-child(6){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stats-bubbles:nth-child(4){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stats-bubble.two {
    justify-self: flex-start;
    background: #144A92;
    height: 258px;
    width: 258px;
}
.stats-bubble.three {
    align-self: center;
    justify-self: flex-end;
    background: rgba(89, 97, 114, 0.05);
    height: 138px;
    width: 138px;
}
.stats-bubble.four {
    align-self: center;
    justify-self: flex-start;
    background: rgba(0, 73, 144, 0.05);
    height: 142px;
    width: 142px;
}
.stats-bubble.five {
    align-self: center;
    justify-self: flex-end;
    background: #E8EDF4;
    height: 262px;
    width: 262px;
}

.stats-bubble.six {
    align-self: center;
    justify-self: flex-start;
    background: #5B80B3;
    height: 222px;
    width: 222px;
}
.stats-bubble.seven {
    align-self: flex-end;
    justify-self: flex-start;
    background: rgba(232, 237, 244, 0.4);
    height: 156px;
    width: 156px;
}
.stats-bubble.eight {
    align-self: flex-end;
    justify-self: flex-start;
    background: rgba(160, 215, 255, 0.15);
    height: 103px;
    width: 103px;
}
.stats-bubble.nine {
    align-self: flex-end;
    justify-self: flex-start;
    background: #D0DBE9;
    height: 239px;
    width: 239px;
}
.stats-bubble.ten {
    align-self: center;
    justify-self: flex-start;
    background: rgba(29, 161, 242, 0.05);
    height: 98px;
    width: 98px;
}
.stats-bubble.eleven {
    align-self: flex-end;
    justify-self: flex-start;
    background: #E8EDF4;
    height: 268px;
    width: 268px;
    margin-right: -80px;
}
.stats-bubble.twelve {
    align-self: center;
    justify-self: flex-start;
    background: rgba(26, 15, 145, 0.05);
    height: 206px;
    width: 206px;
    margin-left: -50px;
}


.margin-unsetter {
    margin-bottom: 0;
}

.section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.section-wrapper-one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.help-item {
    background: #FFFFFF;
    Width: 145px;
    Height: 174px;
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.09);
    border-radius: 24px;
    padding: 12px 12px 30px 12px;
}

.icon-card-group-wrapper {
    position: relative;
    height: 120px;
    width: 120px;
}
.icon-grouped {
    position: absolute;
    left: 0;
    top: -14px;
}
.icon-grouped-outline {
    position: absolute;
    top: 20px;
    left: 30px;
}
.help-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #010101;
    margin-top: 15px;
}

.section-item {
    width: 302px;
    height: 382px;
    background: #FFFFFF;
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.09);
    border-radius: 24px;
    padding: 16px 13px;
    justify-content: unset;
}

.section-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    margin-top: 22px;
    font-family: Assistant-SemiBold, serif;
}
.section-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin: 6px 0 16px 0;
}

.link-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-link {
    font-family: Assistant-Medium, serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #004990;
    margin-left: 5px;
}
.small-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(1, 1, 1, 0.6);
    text-align: center;
}

.ball {
    width: 258px;
    height: 258px;
    left: 106px;
    top: 1799px;
    background: #144A92;
    border-radius: 50%;
}

.section-btn {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #004990;
    padding: 12px 43px;
    border: 2px solid #004990;
    border-radius: 40px;
    background: transparent;
    cursor: pointer;
    font-family: Assistant-Bold, serif;
}

.stat {
    position: relative;
    width: 100%;
    height: 760px;
}

.ball-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.ball-2 {
    position: absolute;
    top: 10%;
    left: 45%;
}

.ball-3 {
    position: absolute;
    top: 25%;
    left: 70%;
}

.ball-4 {
    position: absolute;
    top: 10%;
    left: 100%;
}

.ball-5 {
    position: absolute;
    top: 50%;
    left: 25%;
}

.ball-number {
    font-style: normal;
    font-weight: 300;
    font-size: 68px;
    color: #FFFFFF;
}

.lightish {
    background: #5B80B3;
}

.lighter {
    background: #D0DBE9;

}

.value {
    font-style: normal;
    font-weight: 300;
    font-size: 33px;
    color: #FFFFFF;
}

.text {
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    color: #FFFFFF;
}

.description {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #000000;
    margin: 25px 0;
    max-width: 540px;
}
.btn {
    width: 205px;
    height: 62px;
    border: 2.5523px solid #F15B62;
    border-radius: 51.046px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    letter-spacing: -0.02em;
}
.regular {
    background: transparent;
    color: #F15B62;
}

.active {
    background: #F15B62;
    color: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(241, 91, 98, 0.4);
    margin-left: 10px;
    font-family: Assistant-Bold, serif;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 1567px;
    display: flex;
    justify-content: space-between;
}

.registration-form {
    background: #A6BDD9;
    padding: 35px 0;
    display: flex;
    justify-content: center;
}

.footer-items {
    background: rgba(36, 60, 204, 0.05);
    padding: 35px 0;
    display: flex;
    justify-content: center;
}

.registration-form-copyright {
    background: #EDEEF8;
    padding: 35px 0;
    display: flex;
    justify-content: center;
}

.input {
    padding: 16px 24px 16px 160px;
    width: 342px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 0.632166px solid #004990;
    border-radius: 40px;
    text-align: right;
}

.input-text-wrapper {
    text-align: right;
    font-family: Assistant-Bold, serif;
}

.input-sub-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #004990;
}

.input-text {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #004990;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 16px;
    font-family: Assistant-Bold, serif;
}

.info {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 16px;
    max-width: 246px;
}

.number {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: right;
    color: #004990;
}
.line {
    width: 22px;
    height: 1px;
    background: #004990;
    border-radius: 20px;
    margin-bottom: 26px;
}

.logo-wrapper {
    margin-top: 18px;
}

.section-wrapper-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.center {
    align-items: center;
}

.right {
    max-width: 683px;
}

.footer-item-placement {
    display: flex;
}

.copy-right {
    margin-top: 20px;
}

.light {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #000000;
    font-family: Assistant-Light, serif;
}

@font-face {
    font-family: Assistant-Bold;
    src: url("./fonts/Assistant-Bold.ttf");
}

@font-face {
    font-family: Assistant-ExtraBold;
    src: url("./fonts/Assistant-ExtraBold.ttf");
}

@font-face {
    font-family: Assistant-ExtraLight;
    src: url("./fonts/Assistant-ExtraLight.ttf");
}

@font-face {
    font-family: Assistant-Light;
    src: url("./fonts/Assistant-Light.ttf");
}

@font-face {
    font-family: Assistant-Medium;
    src: url("./fonts/Assistant-Medium.ttf");
}

@font-face {
    font-family: Assistant-Regular;
    src: url("./fonts/Assistant-Regular.ttf");
}

@font-face {
    font-family: Assistant-SemiBold;
    src: url("./fonts/Assistant-SemiBold.ttf");
}
